body {
    color: #453C52;
    font-family: sans-serif;
    max-width: 600px;
    margin-top: 32px;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
}

.TodoPageMain {
    display: flex;
}

.TodoPage-title {
    font-size: 48px;
    line-height: 1.6;
}

.AddTodo {
    color: white;
    background-color: #48BB78;
}

.TodoSection-title {
    font-size: 34px;
    line-height: 1.4;
}

.TodoSection-todo {
    font-size: 20px;
    line-height: 1.2;
    margin-left: 32px;
}

.TodoSection {
    margin-bottom: 32px;
    margin-left: 32px;
}

.Todo {
    display: flex;
    align-items: center;
}
