html {
  font-size: 16px;
}

.Home-container {
  position: relative;
  top: 3.125rem;
}

.Home-title {
  font-size: 1.25rem;
  margin-bottom: 1.875rem;
}

.Home-authenticate {
  font-size: 1rem;
  margin-bottom: 1.25rem;
}

.UserHeader {
  padding: 10px;
  background-color: lightgrey;
  font-size: 1rem;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.Flash-error {
  color: darkred;
  background-color: #f8d7da;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 12px;
  margin-bottom: 20px;
}

@media screen and (max-width: 480px) {
  .Home-container {
    position: relative;
    top: 9.375rem;
    text-align: center;
  }
}
