body {
  font-family: sans-serif;
  max-width: 600px;
  margin-top: 32px;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}

.TodoPageMain {
  display: flex;
}

.TodoPage-title {
  color: #453c52;
  font-size: 20px;
  line-height: 1.6;
  font-weight: 600;
  margin-bottom: 12px;
}

.AddTodo {
  display: flex;
  height: 32px;
  align-items: stretch;
  margin-bottom: 24px;
}

.AddTodo-text {
  color: #453c52;
  font-size: 14px;
  border: 1px solid grey;
  border-radius: 4px;
  padding: 6px 12px;
  margin-right: 10px;
}

.AddTodo-date {
  color: #453c52;
  font-size: 14px;
  border: 1px solid grey;
  border-radius: 4px;
  padding: 6px;
  margin-right: 10px;
}

.AddTodo-button {
  font-size: 14px;
  color: white;
  background-color: #48bb78;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 6px 22px;
}

.TodoSectionTitle {
  display: flex;
  color: #453c52;
  align-items: center;
  margin-bottom: 8px;
}

.TodoSectionTitle-text {
  font-size: 14px;
  font-weight: 600;
  margin-right: 8px;
  line-height: 1.4;
}

.TodoSectionTitle-remainingCount {
  font-size: 12px;
}

.TodoSection {
  margin-bottom: 32px;
}

.TodoItem {
  align-items: center;
}

.TodoItem-container {
  display: inline-flex;
  align-items: center;
  color: #453c52;
  padding: 6px 12px;
}

.TodoItem-checkbox {
  width: 16px;
  height: 16px;
}

.TodoItem-text {
  margin-left: 8px;
}

.TodoItem-delete {
  visibility: hidden;
  margin-left: 8px;
}

.TodoItem-delete > img {
  width: 16px;
}

.TodoItem-dueDate {
  color: #726a7e;
  font-size: 12px;
  margin-left: 10px;
}

.TodoItem-container:hover {
  background-color: #f1edf7;
}

.TodoItem-container:hover .TodoItem-delete {
  visibility: visible;
}
