.NewUser-title {
  font-size: 1.875rem;
  margin-bottom: 2.5rem;
}

.Form-section {
  margin-bottom: 1.875rem;
}

.FormInput-label {
  color: #555;
  margin-bottom: 0.5rem;
}

.Form-input {
  font-size: 1.25rem;
  padding: 0.5rem;
}

.Form-submit {
  font-size: 1.25rem;
  color: white;
  background-color: #48bb78;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 0.375rem 1.25rem;
}

@media screen and (max-width: 480px) {
  .User-session {
    margin-top: 1.5rem;
    padding: 0px 1.25rem;
  }

  .NewUser-title {
    margin-bottom: 1.25rem;
  }

  .Form-input {
    width: 94%;
  }

  .Form-submit {
    float: right;
  }
}
